
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 13px;
  z-index: 10;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background-color: #b1afaf;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #999999;
}


/* About Section Media Queries */
@media screen and (max-width: 1200px) {
  #about-heading {
    font-size: 34px;
  }
  #about-info {
    font-size: 22px;
  }
}

@media screen and (max-width: 900px) {
  #about-heading {
    font-size: 24px;
  }
  #about-info {
    font-size: 18px;
  }
  #about-image {
    width: 380px;
  }
}

@media screen and (max-width: 712px) {
  #about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about-heading {
    font-size: 34px;
  }
  #about-image {
    margin: 0;
    width: 270px;
    padding: 0;
  }
}


